.container {
  width: 60%;
  margin: 0 auto;
}

.profiles-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
}

.title-container {
  margin-top: 5rem;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
  flex-direction: column;
}

@media(max-width: 992px) {
  .profiles-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .profiles-container {
    grid-template-columns: 1fr;
  }
}
