.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid rgb(44, 116, 218);
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.profile-name {
  text-align: center;
  margin: 0.5rem 0;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: rgb(151, 151, 151);
}

.profile-container:hover p {
  opacity: 1;
}

.profile-container:hover img {
  scale: 1.1;
}
